doctype
html(ng-app='gh.strava')
  head
    title Strava Data Visualisation App
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/_bower.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ui-view)

    script(src='/javascripts/_bower.js')
    script(src='/javascripts/stravadv.min.js')