doctype
html(ng-app='gh.strava')
  head
    title Strava Data Visualisation App
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/_bower.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div(ui-view)

    script(src='/javascripts/_bower.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/javascripts/stravadv.min.js')
