h1 {{ User.name }}
form#user-config-form(ng-submit='updateUser()' method='POST' role='form' name='userConfigForm' novalidate)
  .row
    .col-md-6
      .form-group
        input#zone-1.form-control(ng-model='model.hrzones.z1' type='text' name='zone1' placeholder='Zone 1')
      .form-group
        input#zone-2.form-control(ng-model='model.hrzones.z2' type='email' name='zone2' placeholder='Zone 2')
      .form-group
        input#zone-3.form-control(ng-model='model.hrzones.z3' type='text' name='zone3' placeholder='Zone 3')
      .form-group
        input#zone-4.form-control(ng-model='model.hrzones.z4' type='text' name='zone4' placeholder='Zone 4')
      .form-group
        input#zone-5.form-control(ng-model='model.hrzones.z5' type='text' name='zone5' placeholder='Zone 5')
    .clearfix
    .col-lg-12.text-center
      button.btn.btn-xl.center-block(type='submit') Update